*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

:root{
	--primary-color:#032541;
	--secondary-color:#373b69;
	--color-white:#fff;
	--color-dark:#000;
}

body{
	background-color:var(--secondary-color);
	color:var(--color-white);
}
.tabHeading{
	list-style:none;
	display:flex;
	border:1px solid white;
	margin-bottom:0;
}

.tabHeading li{
	flex-grow:1;
	text-align:center;
	text-transform:uppercase;
	cursor:pointer;
	padding:20px 0;
	font-weight:bold;
	transition:all 0.4s ease-in-out;
	
}

.tabHeading li.active,
.tabHeading li:hover,
.tabHeading li:focus,
.tabHeading li:active{
	background-color:var(--color-white);
	color:var(--secondary-color);
}
.tabpanel{
	padding:10px;
	border:1px solid #fff;
}
.tabContent{
	display:none;
}
.tabContent.active{
	display:block;
}

